.container{
   display: grid;
   height: 500px;
   width: 1000px;
   border:1px solid black;
   background-color: lightseagreen;
   /* grid-template-columns:1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
                         column-gap:10px ;
                         row-gap:20px;

                         /* justify-items: center;
                         align-items:center; */
                         place-items:center;
                         justify-content:space-around;
                         
                         
                        


    
}
.item{
   
      border:1px solid rgb(0, 0, 0);
      background-color: brown;
       text-align: center;
    align-content: center;
    color: white;
    height: 100px;
    width: 100px;
    
    
}
/* .item1{
    grid-area:header;

   
}
.item2{
    grid-area:main;

   
}
.item3{
    grid-area:sidebar;

   
}
.item4{
    grid-area:footer;

   
} */