/* 
.par{ 
    color: brown;
}



<p {
    color: green;
    text-align: center;
    font-size: 20px;
}
#jkl {
    color: chartreuse;
}
.par {
    color: blue;
    background-color: yellow;
} */
/* div{
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center ;
    align-content: center ;
    padding: 20px;
    margin:100px;
    border: 5px solid red;

} */

/* div{
    text-align: center;
    border : 4px solid black;
    color: red;
    h1{
        color: blueviolet;
    }
} */

div{
    .box{   }
}
