.container{
    display:flex;
    height:600px;
    width:1000px;
    background-color: aqua;
    border: 1px solid black;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    align-content:center;
    row-gap: 25px;



}
.item{
    background-color: yellow;
    width: 200px;
    height:100px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    flex-grow:1;
    


    
}

.item2{
    order: -1;
    flex-grow: 2;  
    align-self: flex-end;
}   