/* .jk1{
 display : inline;
}

.jk2{
    display : block;
} */


/* .box1{
    width : 200px;
    height : 300px;
    background-color : rgb(124, 141, 10);
    display : inline-block;
    margin : 10px;
}
.box2{
    width : 200px;
    height : 300px;
    background-color : rgb(134, 6, 110);
    display : inline-block;
    margin : 10px;
}
.box3{
    width : 200px;
    height : 300px;
    background-color : rgb(20, 156, 184);
    display : inline-block;
    margin : 10px;
}
h4{
    text-align : center;
    color : black;
    font-size : 30px;

}
p{
    text-align : center;
    color : black;
} */


body{
    background-color: rgb(228, 64, 214);
}

div{
    display:inline-block;
}
.float-image{
    display:block;
    height:100px;
    width:100px;
}

p{
    display:inline-block;
    text-align: center;
    font-size: 20px;
    color: white;
}



