@media(min-width:768px){

body{

/* background-color:rgb(247, 227, 9);


}

p{  

font-size: 18px;

}

}

.div{

width: 100%;

height: 100px;

background-color: greenyellow;

}

@media(min-width:768px){

.box{

background-color: blueviolet;

height: 100px;

width: 100%;


}

} */

li{
    list-style-type: none;
    text-decoration: none;
}
@media(min-width:320px) and (max-width:768px){
    nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

} 
}

          
      
       
   

  



  